@charset "UTF-8";
* {
  position: relative;
  font-family: "Barlow", sans-serif, "微軟正黑體";
    font-family-box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px; }

p {
  color: #52565e; }

.title {
  padding-top: 5px;
  padding-bottom: 20px; }
  .title p.h1 {
    display: inline-block;
    padding: 0px 20px;
    font-size: 120px;
    font-style: italic;
    color: #f85a40;
    background-image: -webkit-repeating-linear-gradient(60deg, #caccd1, #caccd1 1px, transparent 0px, transparent 4px);
    background-image: -o-repeating-linear-gradient(60deg, #caccd1, #caccd1 1px, transparent 0px, transparent 4px);
    background-image: repeating-linear-gradient(30deg, #caccd1, #caccd1 1px, transparent 0px, transparent 4px);
    text-shadow: -5px 5px 0px rgba(0, 0, 0, 0.15); }
  .title p.h2 {
    font-size: 54px;
    color: #30c39e;
    text-align: right;
    font-style: italic; }

#works .title {
  padding-bottom: 560px; }

#about .title {
  padding-bottom: 560px; }

.subtitle {
  margin-bottom: -60px;
  text-align: right;
  z-index: 999; }
  .subtitle p.h1 {
    display: inline-block;
    font-size: 160px;
    font-style: italic;
    color: #a4e8d7;
    text-shadow: -5px 5px 0px #30c39e; }

p.h3 {
  display: inline-block;
  padding: 5px 15px;
  border: solid 1px #caccd1;
  background-color: white;
  color: #caccd1;
  -webkit-box-shadow: -3px 3px 0px #caccd1;
  box-shadow: -3px 3px 0px #caccd1; }

#about p.h3 {
  margin-bottom: 30px; }

p.h4 {
  color: #30c39e;
  line-height: 35px; }

#about .brief p.h4 {
  margin: 0px 30px 25px 30px;
  font-weight: 400; }

#contact p.h4 {
  text-align: right;
  margin: 40px 0px 60px 0px;
  color: #caccd1; }

.button {
  display: inline-block;
  padding: 0px 8px;
  margin: 5px 0px;
  background-color: white;
  border: solid 1px #caccd1;
  color: #caccd1;
  -webkit-box-shadow: -3px 3px 0px #caccd1;
  box-shadow: -3px 3px 0px #caccd1; }
  .button a {
    text-decoration: none;
    color: #caccd1;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    .button a:hover {
      text-decoration: none;
      padding-left: 5px;
      color: #52565e; }

section {
  padding: 50px 0px;
  background-color: #f3f4f7;
  background-image: -webkit-linear-gradient(rgba(248, 90, 64, 0.2) 1px, transparent 0), -webkit-linear-gradient(left, rgba(248, 90, 64, 0.2) 1px, transparent 0);
  background-image: -o-linear-gradient(rgba(248, 90, 64, 0.2) 1px, transparent 0), -o-linear-gradient(left, rgba(248, 90, 64, 0.2) 1px, transparent 0);
  background-image: linear-gradient(rgba(248, 90, 64, 0.2) 1px, transparent 0), linear-gradient(90deg, rgba(248, 90, 64, 0.2) 1px, transparent 0);
  background-size: 30px 30px; }

.container#box {
  max-width: 1000px;
  background-color: #f3f4f7;
  border: solid 1px #caccd1;
  -webkit-box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.15); }
  .container#box:hover::after {
    display: none; }
  .container#box::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-linear-gradient(60deg, #caccd1, #caccd1 1px, transparent 0px, transparent 4px);
    background-image: -o-repeating-linear-gradient(60deg, #caccd1, #caccd1 1px, transparent 0px, transparent 4px);
    background-image: repeating-linear-gradient(30deg, #caccd1, #caccd1 1px, transparent 0px, transparent 4px); }

.at_top {
  background-color: #f3f4f7;
  border-bottom: solid 5px #f85a40;
  vertical-align: middle; }

a.navbar-brand {
  color: #f85a40;
  font-size: 22px;
  padding: 0px 5px; }
  a.navbar-brand:hover {
    color: #f85a40; }

a.nav-link {
  color: #f85a40;
  font-size: 18px;
  padding: 4px 20px;
  text-align: center; }
  a.nav-link:hover {
    color: #30c39e; }

span.icon-bar {
  color: #f85a40; }

section#cover {
  padding-top: 120px; }

#bigdot {
  position: absolute;
  top: 53%;
  cursor: pointer;
  z-index: 999; }

.anim750 {
  -webkit-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out; }

.circle {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background-color: #f85a40;
  margin: 20px; }

.reveal.circle {
  background-color: #30c39e;
  -webkit-box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden; }

.arrow {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(8deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(8deg);
  transform: translateX(-50%) translateY(-50%) rotate(8deg);
  opacity: 0;
  -webkit-transition: 0.8s ease-in-out 0.2s;
  -o-transition: 0.8s ease-in-out 0.2s;
  transition: 0.8s ease-in-out 0.2s; }

#bigdot:hover .arrow {
  opacity: 1;
  top: 50%; }

.left, .center, .right {
  width: 8px;
  height: 125px;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #7bdec5; }

.left {
  -webkit-transform: translateX(-200%) translateY(40%) rotate(-45deg) scaleY(0.3);
  -ms-transform: translateX(-200%) translateY(40%) rotate(-45deg) scaleY(0.3);
  transform: translateX(-200%) translateY(40%) rotate(-45deg) scaleY(0.3); }

.right {
  -webkit-transform: translateX(100%) translateY(40%) rotate(45deg) scaleY(0.3);
  -ms-transform: translateX(100%) translateY(40%) rotate(45deg) scaleY(0.3);
  transform: translateX(100%) translateY(40%) rotate(45deg) scaleY(0.3); }

.wrapper {
  width: 290px;
  height: 290px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden; }

.sticky {
  width: 290px;
  height: 290px;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#bigdot:hover .sticky {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg); }

.front {
  position: absolute;
  height: 250px;
  top: auto;
  bottom: 0px; }
  .front .circle {
    margin-top: -20px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(78%, #f85a40), color-stop(98%, rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(bottom, #f85a40 78%, rgba(0, 0, 0, 0.1) 98%);
    background-image: -o-linear-gradient(bottom, #f85a40 78%, rgba(0, 0, 0, 0.1) 98%);
    background-image: linear-gradient(bottom, #f85a40 78%, rgba(0, 0, 0, 0.1) 98%); }

#bigdot:hover .front {
  height: 120px; }

#bigdot:hover .front .circle {
  margin-top: -150px; }

.back {
  position: absolute;
  height: 20px;
  top: 40px; }
  .back .circle {
    margin-top: -230px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f85a40), to(rgba(255, 255, 255, 0.5)));
    background-image: -webkit-linear-gradient(bottom, #f85a40, rgba(255, 255, 255, 0.5));
    background-image: -o-linear-gradient(bottom, #f85a40, rgba(255, 255, 255, 0.5));
    background-image: linear-gradient(bottom, #f85a40, rgba(255, 255, 255, 0.5)); }

#bigdot:hover .back {
  height: 150px;
  top: 165px; }

#bigdot:hover .back .circle {
  margin-top: -100px; }

.container#box.nextbox {
  margin-top: 40px; }

.playgroundpic {
  background-image: url("../img/play.jpg");
  background-size: 100%;
  background-position: top;
  margin: 0px -15px;
  margin-bottom: -115px; }

.work {
  height: 600px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: -30px; }

.work_name.textblock {
  padding: 60px 0px 0px 60px;
  margin-bottom: -100px;
  z-index: 999; }

.container#box.textblock {
  padding: 80px 60px; }
  .container#box.textblock::after {
    display: none; }
  .container#box.textblock hr {
    margin: 10px 0px 50px 0px;
    border: solid 1px white;
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15); }

ul {
  padding-left: 30px;
  color: #30c39e; }

li {
  list-style: none;
  color: #52565e; }
  li i {
    font-size: 11px;
    padding: 0px 3px; }

.selfpic {
  background-image: url("../img/selfpic.jpg");
  background-size: cover;
  background-position: top;
  margin: 0px -15px;
  margin-bottom: -115px; }

#contact a {
  text-decoration: none;
  color: #30c39e;
  z-index: 999;
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }
  #contact a::after {
    content: '';
    position: absolute;
    top: 95%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #a4e8d7;
    z-index: -1; }
  #contact a:hover::after {
    top: 50%;
    height: 12px;
    background: #ccf3e9; }

#contact p {
  text-align: right;
  margin-top: 10px; }

.linehr {
  position: absolute;
  right: 15px;
  bottom: -10px;
  color: #8b909a;
  font-size: 14px;
  font-weight: 500;
  text-align: right; }

@media screen and (max-width: 992px) {
  .container#box {
    max-width: 750px; }
  #bigdot {
    display: none; }
  .work {
    height: 460px; }
  .work_name.textblock {
    margin-bottom: 0px; } }

@media screen and (max-width: 768px) {
  .title p.h1 {
    font-size: 80px; }
  .title p.h2 {
    font-size: 32px; }
  .subtitle {
    margin-bottom: -40px; }
    .subtitle p.h1 {
      font-size: 90px; }
  p.h3 {
    font-size: 22px; }
  p.h4 {
    font-size: 18px;
    line-height: 26px; }
  #about .brief p.h4 {
    margin: 0px 0px 25px 0px; }
  .container#box {
    max-width: 550px; }
  #bigdot {
    display: none; }
  .work {
    height: 340px;
    background-position: bottom center; }
  .work_name.textblock {
    padding: 60px 0px 0px 10px;
    margin-bottom: 0px; }
  .container#box.textblock {
    padding: 60px 40px; } }

@media screen and (max-width: 480px) {
  .title p.h1 {
    font-size: 52px;
    text-shadow: -3px 3px 0px rgba(0, 0, 0, 0.15); }
  .title p.h2 {
    font-size: 24px; }
  .subtitle {
    margin-bottom: -30px; }
    .subtitle p.h1 {
      font-size: 52px;
      text-shadow: -3px 3px 0px #30c39e; }
  p.h3 {
    font-size: 18px; }
  p.h4 {
    font-size: 16px; }
  .container#box::after {
    display: none; }
  .work {
    height: 220px;
    background-position: bottom center; } }
