<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RU － Work Collection</title>
    <link rel="icon" href="img/icon.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"/>
    <link rel="stylesheet prefetch" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"/>
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-md fixed-top at_top">
      <div class="container">
        <div class="navbar-header"><a class="navbar-brand" href="#cover">RU</a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"><span class="icon-bar">&#8801</span></button>
        <div class="navbar-collapse collapse" id="navbarToggleExternalContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#works">works</a></li>
            <li class="nav-item"><a class="nav-link" href="#about">about</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="cover">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="title">
              <p class="h1">LET'S</p><br>
              <p class="h1">BUILD</p><br>
              <p class="h1">SOMETHING</p><br>
              <p class="h1">TOGETHER</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4"><a class="anim750" id="bigdot" href="#works">
              <div class="wrapper">
                <div class="reveal circle">
                  <div class="arrow">
                    <div class="left"></div>
                    <div class="center"></div>
                    <div class="right"></div>
                  </div>
                </div>
              </div>
              <div class="sticky anim750">
                <div class="front wrapper anim750">
                  <div class="circle anim750"></div>
                </div>
              </div>
              <div class="sticky anim750">
                <div class="back wrapper anim750">
                  <div class="circle anim750"></div>
                </div>
              </div></a></div>
        </div>
      </div>
    </section>
    <section id="works">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="subtitle">
              <p class="h1">WORKS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="playgroundpic">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="title">
                  <p class="h2">THE DESIGN PLAYGROUND</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container nextbox" id="box" v-for="work in works" data-bottom-top="transform: scale(0.8) translateY(-40px)" data-center="transform: scale(1) translateY(0px)" data-center-bottom="transform: scale(0.8) translateY(0px)">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 col-sm-12 col-lg-12">
                <div class="work_name textblock">
                  <p class="h3">{{work.name}}</p>
                  <div class="work_notes">
                    <div class="button"><a v-bind:href="work.github" target="_blank">>>> Open sourced on GitHub</a></div><br/>
                    <div class="button"><a v-bind:href="work.website" target="_blank">>>> Launch site</a></div>
                  </div>
                </div>
                <div class="work" v-bind:style="'background-image: url('+work.img+')'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="subtitle">
              <p class="h1">ABOUT</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="selfpic">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="title">
                  <p class="h2">THE POSITIVE BUILDER</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container textblock" id="box" data-bottom-top="transform: scale(0.8) translateY(-40px)" data-top="transform: scale(1) translateY(0px)">
          <div class="row">
            <div class="col-sm-12">
              <p class="h3">Hey There, I Am Wun-Ru.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="brief">
                <p class="h4">A junior front-end web designer currently based in Taipei.</p>
                <p class="h4">I believes that design is not only about how things look and feel. It’s about the meaning they produce.</p>
                <p class="h4">I particularly enjoy using my expertise to offer creative solutions to help companies and teams make the most out of the digital products, and enjoy coming up with interesting ways of solving problems.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="h3">Tools to Build Interactive Websites</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <p class="h4">&#10140 Front-End Programming
                <ul>HTML5 / CSS3
                  <li v-for="item in html_css"><i class="far fa-check-square"></i><span>{{item}}</span></li>
                </ul>
                <ul>JavaScript
                  <li v-for="item in javascript"><i class="far fa-check-square"></i><span>{{item}}</span></li>
                </ul>
                <ul>API Service
                  <li v-for="item in api"><i class="far fa-check-square"></i><span>{{item}}</span></li>
                </ul>
              </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <p class="h4">&#10140 Version Control / Development Tools
                <ul>
                  <li v-for="item in version_control"><i class="far fa-check-square"></i><span>{{item}}</span></li>
                </ul>
              </p>
              <p class="h4">&#10140 Design Software
                <ul>
                  <li v-for="item in software"><i class="far fa-check-square"></i><span>{{item}}</span></li>
                </ul>
              </p>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="button"><a href="https://github.com/ruuuchen/about-me.git" target="_blank">>>> View online resume</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="subtitle">
              <p class="h1">CONTACT</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="h4">Find me on <a href="https://github.com/ruuuchen" target="_blank"> GitHub </a>, <a href="www.linkedin.com/in/ruuuchen" target="_blank"> LinkedIn </a>,<br> or contact me with <a href="mailto:wrchen0516@gmail.com"> Email </a> : wrchen0516@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="note">Ⓒ 2018 Wun-Ru Chen</div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>