<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title RU

	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet prefetch", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css")
	link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i")
	link(rel="stylesheet prefetch", href="https://use.fontawesome.com/releases/v5.0.12/css/all.css")

body

nav.navbar.navbar-expand-md.fixed-top.at_top
	.container
		.navbar-header
			a.navbar-brand(href="cover") &#10061 RU
		button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggleExternalContent", aria-controls="navbarToggleExternalContent", aria-expanded="false", aria-label="Toggle navigation")
			span.navbar-toggler-icon
		#navbarToggleExternalContent.navbar-collapse.collapse
			ul.navbar-nav.mr-auto.mt-2.mt-lg-0
				li.nav-item
					a.nav-link(href="#works") WORKS
				li.nav-item
					a.nav-link(href="#about") ABOUTS
				li.nav-item
					a.nav-link(href="#contact") CONTACT
section#cover
	.bigdot
			.arrow
				.left
				.center
				.right
	.container
		.row
			.col-sm-12
				.title
					p.h1 LET'S
					p.h1 BUILD
					p.h1 SOMETHING
					p.h1 TOGETHER
section#works
	.container
		.row
			.col-sm-5.offset-sm-7
				.subtitle
					p.h1 WORKS
		.row
			.col-sm-12
				.title
					p.h2 GO VISIT
					p.h3 THE DESIGN PLAYGROUND
		.row
			.col-sm-6
				.block
			.col-sm-6
				.block
		.row
			.col-sm-6
				.block
			.col-sm-6
				.block
		.row
			.col-sm-6
				.block
			.col-sm-6
				.block
section#about
	.container
		.row
			.col-sm-5.offset-sm-7
				.subtitle
					p.h1 ABOUT
		.row
			.col-sm-12
				.title
					p.h2 INTRODUCE
					p.h3 THE POSITIVE BUILDER
	.container-fluid
		.row
			.col-sm-12
				.pic
	.container
		.row
			.col-sm-12
				.textblock
					p.h4 Wun-Ru Chen, born in Tainan in 1994, currently based in Taipei. <br> Graduted at National Taiwan University of Science and Technology, Department of Architecture.
					button
						i.far.fa-file-alt
						span RESUME
		.row
			.col-sm-12
				.textblock
					p.h4 SKILLS
					ul
						li.text
							.name - Front End Web Design: HTML、CSS、SVG
						li.text
							.name - Front-end Framework: Vue.js
						li.text
							.name - Front End Web Development
		.row
			.col-sm-12
				.textblock
					p.h4 EXPERIENCE
					ul
						li.text
							.date - Oct. 2016 - Jan. 1018
							.name Design Assistant at Netizen Productions INC.
						li.text
							.data - Feb. 2016 - Oct. 2016
							.name Project Assistant at Cxcity Society
						li.text
							.date - Jul. 2015 - Sep. 2015
							.name Intern Product Editor at Foundation of Historic City Conservation and Regeneration
section#contact
	.container
		.row
			.col-sm-5.offset-sm-7
				.subtitle
					p.h1 CONTACT
		.row
			.col-sm-12
				.title
					p.h2 NICE TO MEET YOU
					p.h4 PLEASE E-MAIL ME AT wrchen0516@gmail.com
footer
	.container Ⓒ 2018 Wun-Ru Chen Design