<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title RU － Work Collection
		link(rel="icon", href="img/icon.jpg", type="image/x-icon")

		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet prefetch", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css")
		link(rel="stylesheet prefetch", href="https://use.fontawesome.com/releases/v5.1.1/css/all.css")
		link(rel="stylesheet prefetch", href="https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i")

	body
		nav.navbar.navbar-expand-md.fixed-top.at_top
			.container
				.navbar-header
					a.navbar-brand(href="#cover") RU
				button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggleExternalContent", aria-controls="navbarToggleExternalContent", aria-expanded="false", aria-label="Toggle navigation")
					span.icon-bar &#8801
				#navbarToggleExternalContent.navbar-collapse.collapse
					ul.navbar-nav.mr-auto
						li.nav-item
							a.nav-link(href="#works") works
						li.nav-item
							a.nav-link(href="#about") about
						li.nav-item
							a.nav-link(href="#contact") contact
		section#cover
			.container
				.row
					.col-sm-12.col-md-12.col-lg-8
						.title
							p.h1 LET'S
							<br>
							p.h1 BUILD
							<br>
							p.h1 SOMETHING
							<br>
							p.h1 TOGETHER
					.col-sm-12.col-md-12.col-lg-4
						a#bigdot.anim750(href="#works")
							.wrapper
								.reveal.circle
									.arrow
										.left
										.center
										.right
							.sticky.anim750
								.front.wrapper.anim750
									.circle.anim750
							.sticky.anim750
								.back.wrapper.anim750
									.circle.anim750
		section#works
			.container
				.row
					.col-sm-12
						.subtitle
							p.h1 WORKS
			.container-fluid
				.playgroundpic
					.container
						.row
							.col-sm-12
								.title
									p.h2 THE DESIGN PLAYGROUND
				.container#box.nextbox(v-for="work in works" data-bottom-top="transform: scale(0.8) translateY(-40px)" data-center="transform: scale(1) translateY(0px)" data-center-bottom="transform: scale(0.8) translateY(0px)")
					.container-fluid
						.row
							.col-sm-12.col-sm-12.col-lg-12
								.work_name.textblock
									p.h3 {{work.name}}
									.work_notes
											.button
												a(v-bind:href="work.github", target="_blank") >>> Open sourced on GitHub
											br
											.button
												a(v-bind:href="work.website", target="_blank") >>> Launch site
								.work(v-bind:style="'background-image: url('+work.img+')'")
		section#about
			.container
				.row
					.col-sm-12
						.subtitle
							p.h1 ABOUT
			.container-fluid
				.selfpic
					.container
						.row
							.col-sm-12
								.title
									p.h2 THE POSITIVE BUILDER
				.container#box.textblock(data-bottom-top="transform: scale(0.8) translateY(-40px)" data-top="transform: scale(1) translateY(0px)")
					.row
						.col-sm-12
							p.h3 Hey There, I Am Wun-Ru.
					.row
						.col-sm-12
							.brief
								p.h4 A junior front-end web designer currently based in Taipei.
								p.h4 I believes that design is not only about how things look and feel. It’s about the meaning they produce.
								p.h4 I particularly enjoy using my expertise to offer creative solutions to help companies and teams make the most out of the digital products, and enjoy coming up with interesting ways of solving problems.
					.row
						.col-sm-12
							p.h3 Tools to Build Interactive Websites
					.row
						.col-sm-12.col-md-12.col-lg-6
							p.h4 &#10140 Front-End Programming
								ul HTML5 / CSS3
									li(v-for="item in html_css")
										i.far.fa-check-square
										span {{item}}
								ul JavaScript
									li(v-for="item in javascript")
										i.far.fa-check-square
										span {{item}}
								ul API Service
									li(v-for="item in api")
										i.far.fa-check-square
										span {{item}}
						.col-sm-12.col-md-12.col-lg-6
							p.h4 &#10140 Version Control / Development Tools
								ul
									li(v-for="item in version_control")
										i.far.fa-check-square
										span {{item}}
							p.h4 &#10140 Design Software
								ul
									li(v-for="item in software")
										i.far.fa-check-square
										span {{item}}
					hr
					.row
						.col-sm-12.col-md-12.col-lg-6
							.button
								a(href="https://github.com/ruuuchen/about-me.git", target="_blank") >>> View online resume
		section#contact
			.container
				.row
					.col-sm-12
						.subtitle
							p.h1 CONTACT
				.row
					.col-sm-12
						p.h4 Find me on <a href="https://github.com/ruuuchen" target="_blank"> GitHub </a>, <a href="www.linkedin.com/in/ruuuchen" target="_blank"> LinkedIn </a>,<br> or contact me with <a href="mailto:wrchen0516@gmail.com"> Email </a> : wrchen0516@gmail.com
				.row
					.col-sm-12
						.note Ⓒ 2018 Wun-Ru Chen

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
		script(src="js/index.js")